.app {
  /*background-color: #2276c2;*/
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

header {
  padding: 1rem;
  background-color: #1c65a6;
  color: #FFFFFF;
}

header a {

}

input {
  height: 24px;
  font-size: 15px;
}

button {
  height: 30px;
  padding: 4px 6px;
  background: #c7c7c7;
    vertical-align: top;
}

label {
  display: block;
  margin-top: 1rem;
}

.subItem input {
  max-width: calc(100% - 57px);
  display: inline-block;
}

.button-submit {
  margin-top: 1rem;
}

.category {
  margin: 1rem 1rem 1rem 0;
  padding: 1rem;
  display: inline-block;
  background:  #f7f7f7;
  vertical-align: top;
  max-width: 20%;
}

.category p {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  display: inline-block;
}

button.remove {
  background: transparent;
  padding: 4px;
  color: red;
  float: right;
  border: none;
  line-height: 17px;
  margin-top: -5px;
  cursor: pointer;
  font-weight: bold;
}

.category-submit {
  text-align: right;
}

.category ul {
  margin: 1rem 0;
  padding: 0;
  list-style: none;
}

.category ul li {
  padding: 0.325rem;
  background: #FFFFFF;
  width: 100%;
  box-shadow: 0 2px 3px rgba(99,99,99,0.25);
  margin-bottom: 0.5rem;
  padding-right: 0;
}

.app-body {
  
}
.app-body {
  padding: 1rem;
  max-width: 1000px;
  margin: 0 auto;
/*  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;*/
}